body {
    display: flex;
    justify-content:center;
}


.row {
    /* background-color: blueviolet; */
    display:grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows:150px 150px 150px;
    border: 2px solid;
    justify-content: center;
}


.card {
background-color: rgba(100, 200, 300, 50%);
display: flex;
align-items: center;
justify-content: center;
border: 2px solid; 
/* visibility: collapse; */

/* VISIBILITY HIDDEN HIDES THE ELEMENT BUT KEEPS THE SPACE IT TAKES UP
NEED TO FIGURE OUT HOW TO TARGET THE TEXT INSIDE THE ELEMENT TO ONLY BE HIDDEN */
}


h2 {
    font-size: 55px;
    color: blue;
}

img {
    height:150px;
    width:150px;
}


